body {
    background-color: midnightblue;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20vh auto;
    width: 25vw;
    height: 50vh;
}

.black-keys, .white-keys {
    display: flex;
    width: 100%;
}

.wh-key, .bl-key {
    border-radius: 2px;
    text-align: center;
    width: 100%;
}

.wh-key {
    background-color: white;
    border: gray solid 2px;
    padding-top: 70%;
    padding-bottom: 10%;
}

.bl-key {
    background-color: black;
    color: white;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 40%;
    padding-bottom: 10%;
}

#W, #E, #T, #Y, #U {
    position: relative;
    top: -158%
}

#W {
    right: -4%;
}

#E {
    left: -1.5%;
}

#T {
    left: 7%;
}

#Y {
    left: 1.5%;
}

#U {
    right: 4.5%;
}